{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/icons/next-sofa-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/main.css'  %}">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>

{% block content %}
{% endblock content %}
<body>
  <footer>
    <div class="footer-logo">
        <img src="{% static 'icons/next-sofa-logo.png' %}" alt="">
    </div>
    <div class="footer-content">
        <div>
            <div class="footer-header">
                <h3>Address</h3>
                <img src="{% static 'icons/add.svg' %}" alt="" class="no-display-max show-footer-list">
                <img src="{% static 'icons/minus.svg' %}" alt="" class="no-display hide-footer-list">
            </div>
            <div class="footer-content-list no-display-min">
                <div>No. 125, Ikenegbu Layout,<br>
                    Owerri,<br>
                    Imo State. <br>
                    Nigeria. 
                </div>
            </div>
            
        </div>
        <div>
            <div class="footer-header">
                <h3>Products</h3>
                <img src="{% static 'icons/add.svg' %}" alt="" class="no-display-max show-footer-list">
                <img src="{% static 'icons/minus.svg' %}" alt="" class="no-display hide-footer-list">
            </div>
            <div class="footer-content-list no-display-min">
                <div>Sittings</div>
                <div>Tables</div>
                <div>Cabinets</div>
                <div>Office chair</div>
                <div>Bed frame</div>
                <div>Dinning-sets</div>
            </div>
        </div>
        <div>
            <div class="footer-header" id="contact">
                <h3>Contact</h3>
                <img src="{% static 'icons/add.svg' %}" alt="" class="no-display-max show-footer-list">
                <img src="{% static 'icons/minus.svg' %}" alt="" class="no-display hide-footer-list">
            </div>
            <div class="footer-content-list no-display-min">
                <div>07063885377</div>
                <div>Nextsofa@gmail.com</div>
            </div>
            
        </div>
        
    </div>
    <div class="footer-social">
        <div>
            <div style="width:30%;height: 0.5px;background-color: white; position: relative;top:0.8rem"></div>
            <div class="footer-social-icons">
                <img src="{% static 'icons/facebook.svg' %}" alt="">
                <img src="{% static 'icons/instagram.svg' %}" alt="">
                <img src="{% static 'icons/twitter.svg' %}" alt="">
            </div>
            <div style="width:30%;height: 0.5px;background-color: white; position: relative;top:0.8rem;"></div>
        </div>
    </div>
    <div class="footer-others">
        <div>Copyright@2022</div>
        <div style="font-size:x-small;">Terms and Conditions</div>
        <div style="font-size:small;margin-bottom:0;">Developed by Winterdevelopers</div>
    </div>
  </footer>  
</body>

<script src="{% static 'js/main.js' %}"></script>
</html>